includes:
    - vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app/
        - database/

    # Level 9 is the highest level
    level: 7

#    ignoreErrors:
#        - '#PHPDoc tag @var#'
#
    excludePaths:
        - ./database/migrations/2024_06_17_035250_create_pulse_tables.php
#
#    checkMissingIterableValueType: false
